<a href="https://colab.research.google.com/github/Bhanu9900/nithya/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
data=pd.read_csv('/content/company-sales.csv')
data.head()

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600

In [2]:
print('approch1:keep the missing value as is')
print(data.isnull().sum())
print()

approch1:keep the missing value as is
month_number    0
facecream       0
facewash        0
toothpaste      0
bathingsoap     0
shampoo         0
moisturizer     0
total_units     0
total_profit    0
dtype: int64

In [3]:
print('aproch2:remove data object with missing value')
column_row=data.dropna()
print(column_row)
print()

aproch2:remove data object with missing value
    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200

In [4]:
print('aproch3:remove attribute with missing values')
column_cleaned=data.dropna(axis=1)
print(column_cleaned)
print()

aproch3:remove attribute with missing values
    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200

In [5]:
print('approch4:estimate and impute with missing value')
data_impute_mean=data.fillna(data.mean())
print(data_impute_mean)
data_interpolation=data.interpolate()
print(data_interpolation)
print()

approch4:estimate and impute with missing value
    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200
    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200

In [6]:
import pandas as pd
data=pd.read_csv('/content/company-sales.csv')
data.head()

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600

In [8]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/company-sales.csv')
lower_cap=800
upper_cap=1200
data_cap=np.clip(data,lower_cap,upper_cap)
print(data_cap)

    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0            800       1200      1200        1200         1200     1200
1            800       1200      1200        1200         1200     1200
2            800       1200      1200        1200         1200     1200
3            800       1200      1130        1200         1200     1200
4            800       1200      1200        1200         1200     1200
5            800       1200      1200        1200         1200     1200
6            800       1200      1120        1200         1200     1200
7            800       1200      1200        1200         1200     1200
8            800       1200      1200        1200         1200     1200
9            800       1200      1200        1200         1200     1200
10           800       1200      1200        1200         1200     1200
11           800       1200      1200        1200         1200     1200

    moisturizer  total_units  total_profit
0          1200         1200          1200
1          1200         1200          1200
2          1200         1200          1200
3          1130         1200          1200
4          1200         1200          1200
5          1200         1200          1200
6          1120         1200          1200
7          1200         1200          1200
8          1200         1200          1200
9          1200         1200          1200
10         1200         1200          1200
11         1200         1200          1200

In [7]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/company-sales.csv')
data_log_transform=np.log(data)
print(data_log_transform)

    month_number  facecream  facewash  toothpaste  bathingsoap   shampoo  \
0       0.000000   7.824046  7.313220    8.556414     9.126959  7.090077
1       0.693147   7.874739  7.090077    8.536996     8.716044  7.649693
2       1.098612   7.668561  7.200425    8.422883     9.164296  8.174703
3       1.386294   8.131531  7.029973    8.677610     9.090430  7.533694
4       1.609438   8.188689  7.461640    8.425078     8.956738  7.352441
5       1.791759   7.922986  7.349231    8.494948     8.921324  7.544332
6       1.945910   7.999679  7.021084    8.472196     9.102755  7.484369
7       2.079442   8.216088  7.244228    8.675905     9.206332  7.958577
8       2.197225   8.171882  7.484369    8.716044     8.999619  7.649693
9       2.302585   7.595890  7.544332    9.024011     9.239899  7.740664
10      2.397895   7.757906  7.649693    8.895630     9.495519  7.783224
11      2.484907   7.972466  7.473069    8.909235     9.574983  7.495542

    moisturizer  total_units  total_profit
0      7.313220     9.957028     12.259613
1      7.090077     9.816294     12.118879
2      7.200425    10.019936     12.322521
3      7.029973    10.010996     12.313581
4      7.461640     9.950371     12.252956
5      7.349231     9.910463     12.213048
6      7.021084    10.293839     12.596424
7      7.244228    10.495156     12.797741
8      7.484369    10.060491     12.363076
9      7.544332    10.191295     12.493880
10     7.649693    10.628133     12.930718
11     7.473069    10.309619     12.612204

In [10]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/company-sales.csv')
outliers=[50]
data_outliers=data[~data.isin(outliers)]
print(data_outliers)

    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200

In [11]:
import pandas as pd
data=pd.read_csv('/content/company-sales.csv')
print('reduction_data:')
print(data.isnull().sum())
data=data.dropna()
print(data)

reduction_data:
month_number    0
facecream       0
facewash        0
toothpaste      0
bathingsoap     0
shampoo         0
moisturizer     0
total_units     0
total_profit    0
dtype: int64
    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200

In [13]:
import pandas as pd
data=pd.read_csv('/content/company-sales.csv')
data_integration=data.groupby('total_units').sum()
print(data_integration)

             month_number  facecream  facewash  toothpaste  bathingsoap  \
total_units
18330                   2       2630      1200        5100         6100
20140                   6       2760      1555        4890         7490
20960                   5       3600      1740        4560         7760
21100                   1       2500      1500        5200         9200
22270                   4       3400      1130        5870         8870
22470                   3       2140      1340        4550         9550
23400                   9       3540      1780        6100         8100
26670                  10       1990      1890        8300        10300
29550                   7       2980      1120        4780         8980
30020                  12       2900      1760        7400        14400
36140                   8       3700      1400        5860         9960
41280                  11       2340      2100        7300        13300

             shampoo  moisturizer  total_profit
total_units
18330           2100         1200        183300
20140           1890         1555        201400
20960           1560         1740        209600
21100           1200         1500        211000
22270           1870         1130        222700
22470           3550         1340        224700
23400           2100         1780        234000
26670           2300         1890        266700
29550           1780         1120        295500
30020           1800         1760        300200
36140           2860         1400        361400
41280           2400         2100        412800

In [14]:
import pandas as pd
data=pd.read_csv('/content/company-sales.csv')
data_transformation=data.apply(lambda x:x*2)
print(data_transformation)

    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              2       5000      3000       10400        18400     2400
1              4       5260      2400       10200        12200     4200
2              6       4280      2680        9100        19100     7100
3              8       6800      2260       11740        17740     3740
4             10       7200      3480        9120        15520     3120
5             12       5520      3110        9780        14980     3780
6             14       5960      2240        9560        17960     3560
7             16       7400      2800       11720        19920     5720
8             18       7080      3560       12200        16200     4200
9             20       3980      3780       16600        20600     4600
10            22       4680      4200       14600        26600     4800
11            24       5800      3520       14800        28800     3600

    moisturizer  total_units  total_profit
0          3000        42200        422000
1          2400        36660        366600
2          2680        44940        449400
3          2260        44540        445400
4          3480        41920        419200
5          3110        40280        402800
6          2240        59100        591000
7          2800        72280        722800
8          3560        46800        468000
9          3780        53340        533400
10         4200        82560        825600
11         3520        60040        600400